body {
  background-color: rgb(240, 210, 160);
}
  /*  */
.group-table {
  margin: 5px;
  text-align: center;
  border: 4px solid rgb(206, 167, 107);
  background-image:linear-gradient(rgb(250, 230, 190),rgb(250, 227, 166), rgb(206, 167, 107));
  font-family: monospace;
  font-size: 10px;
  padding-right: -11px;
}

th, td {
  border: 1px solid rgb(206, 167, 107);
  padding: 5px;
  background-color: rgba(245, 220, 163, 0.4);
}

.group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tita {
  text-align: center;
  outline: 5px;
  outline-color: rgb(206, 167, 107);
  font-family: fantasy;
  border-bottom: 3px solid black;
}

.matches {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
}



span {
  text-align: center;
  font-weight: bolder;
  font-family: monospace;
  font-size: 22px;
}

#Titulo-Field{
  font-size: 16px;
}


#Borde-Bracket {
  padding: 5px;
}

#Octavos {
  padding: 5px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container div {
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container div section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container div section div {
    padding-top: 1rem;
}

h3 {
  border: 1px solid rgb(206, 167, 107);
  background-color: rgba(255, 218, 118, 0.2);
  font-family:Montserrat,monospace;
}
label {
  border: 3px dashed rgb(206, 167, 107);
  background-color: rgb(250, 227, 167);
  padding-left: 2px;
  padding-right: 2px;
  font-size: 16px;
  font-weight: 500;
  font-family: monospace;
}

input {
  background-color: rgb(250, 227, 190);
  font-family: monospace;
  border-color: rgb(206, 167, 107);
  margin: none;
}

h4{
  font-family: monospace;
  font-weight:600;
  font-size: 18px;
}

fieldset {
  display: flex;
  flex-direction: row;
  padding: 5px;
  text-align: center;
  border-width: thick;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  border-color: rgb(206, 167, 107);
}

legend {
  text-align: center;
  font-family: monospace;
  font-weight:600;
  font-size: 18px;
}

.division {
  height: 2px;
  background-color: rgb(206, 167, 107);
  border: none;
}

.a {
  height: 1px;
  background-color: rgb(206, 167, 107);
  border: none;
}

.ser{
  height: 2px;
  margin: none;
  background-color: rgb(206, 167, 107);
  border: none;
}
